.table-dark {
  --bs-table-color: #2196f3;
  --bs-table-bg: #e3f2fd;
  --bs-table-border-color: #e3f2fd;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #2196f3;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.custom-striped tbody tr:nth-child(even) {
  background-color: #362a2a;
  /* Light gray for even rows */
}

.custom-striped tbody tr:nth-child(odd) {
  background-color: #ffffff;
  /* White for odd rows */
}

.bg-purple-400 {
  background: #3d8bfd;
  color: white;
}

.bg-blue-400 {
  background: #3d8bfd;
  color: white;
}

.card-body {
  padding: 10px;
}

/* Style for the filter icon */
.filter-icon {
  cursor: pointer;
  margin-left: 5px;
  color: #000;
}

.filter-icon i {
  font-size: 16px;
}

/* Popup container for filters */
.filter-popup {
  position: absolute;
  background-color: #fdfdfd;
  border: 1px solid #fefdfd;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 10;
  margin-top: 5px;
  width: 150px;
}

/* Input styling in popup */
.filter-popup input {
  width: 100%;
  font-size: 14px;
  padding: 4px;
}

.table {
  --bs-table-border-color:#ffffff;
  --bs-table-bg: #ffffff;}


  // .actions-column {
  //   min-width: 300px; /* Minimum width for desktop */
  //   max-width: 350px; /* Prevent column from expanding too much */
  //   width: 300px; /* Default width */
  //   word-wrap: break-word; /* Prevent overflow of text */
  // }
  

  .text-danger{
    color: red;
  }

  /* Container for button and tooltip */
.hover-text {
  position: relative; /* To position the tooltip relative to the button */
}

/* Initially hide the tooltip */
.tooltip-text {
  display: none;
  position: absolute; /* Position the tooltip absolutely inside the button */
  background-color: rgba(0, 0, 255, 0.7); /* Blue background with some transparency */
  color: white; /* White text */
  padding: 5px;
  border-radius: 5px;
  top: -50%; /* Position the tooltip below the button */
  left: 50%; /* Center the tooltip */
  transform: translateX(-50%); /* Adjust to center it */
  white-space: nowrap; /* Prevent the text from wrapping */
  z-index: 10; /* Ensure the tooltip appears on top of other elements */
}

/* Show the tooltip when hovering over the button */
.hover-text:hover .tooltip-text {
  display: block;
}
